
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="API">
          <match url="api/(.*)"/>
          <action type="Rewrite" url="server.js"/>
        </rule>
        <rule name="StaticContent">
          <match url="(.*)" />
          <action type="Rewrite" url="../dist/{R:1}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
        </rule>
        <rule name="SPA">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api" negate="true" />
          </conditions>
          <action type="Rewrite" url="../dist/index.html" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="node.exe" watchedFiles="*.js;iisnode.yml" loggingEnabled="true" logDirectory="iisnode" />
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
